.topbar {
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 20px;
  a {
    margin-right: 18px;
    font-size: 14px;
    color: #999;
  }
  a:hover {
    color: #45B6F7;
  }
  .right_topbar {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navigation {
    margin-top: 20px;
    .logo {
      img{
      }
      .brand{
        line-height: 15px;
        font-size: 14px;
        margin-left: 10px;
        padding-left: 10px;
        color: #bbb;
        border-left: 2px solid #eaeaea;
        height: 30px;
      }
    }
    .navigation_ly{
      float: right;
      font-size: 18px;
      margin-top: 7px;
      margin-right: -15px;
      .search{
        margin-top: -8px;
      }
      label{
        padding: 15px;
        color: #666;
      }
      label:hover{
        color: #45B6F7;
      }
      i{
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
  }
}

