.topbar{
  margin-top: 20px;
  margin-bottom: 20px;
  a{
    margin-right: 18px;
    font-size: 14px;
    color: #999;
  }
   a:hover{
     color: #45B6F7;
   }
  .right_topbar{
    align-items:flex-end;
    justify-content: flex-end;
  }
}

