<div class="recommendlist">
  <h3>
    {{title}}
  </h3>
  <md-card class="example-card my_card row" *ngFor="let item of list; let i=index; let odd=odd;">
    <div class="logo col-sm-3">

    </div>
    <div class="col-sm-9 card_content">
      <header>
        <h2>android之如何开发app能在1M以下？</h2>
      </header>
      <div class="sub_title row-horizontal-center">
        <i class="icon iconfont icon-shijian"></i>
        <div class="row-horizontal-center">2017-07-20</div>
        <i class="icon iconfont icon-comment"></i>
        <div class="row-horizontal-center">评论(0)</div>
      </div>
    </div>
  </md-card>
</div>

