<md-card class="example-card my_card row">
  <div class="logo col-sm-3">

  </div>
  <div class="col-sm-9 card_content">
    <header>
      <span class="badge badge-primary">Android心得</span>
      <h2 [routerLink]="['/detail']">android之如何开发app能在1M以下？</h2>
    </header>
    <div class="sub_title row-horizontal-center">

      <i class="icon iconfont icon-shijian"></i>
      <div class="row-horizontal-center">2017-07-20</div>
      <i class="icon iconfont icon-ren"></i>
      <div class="row-horizontal-center">dicallc</div>
      <i class="icon iconfont icon-yuedu"></i>
      <div class="row-horizontal-center">阅读(39)</div>
      <i class="icon iconfont icon-comment"></i>
      <div class="row-horizontal-center">评论(0)</div>
    </div>
    <p>
      浮躁的过后，也即是技术的积累 1.前言 手持pixel,为了省电，我将谷歌商店都给割掉了，然而手机还是卡，耗电。 深度玩机的小伙伴，肯定知道谷歌版和国内版的app区别，即是这样，国产的互相唤醒也是对于耗电，卡顿最大幕后黑手。
      黑域，阻止唤醒...
    </p>
  </div>
</md-card>
