.tag{
  color: #999;
  background-color: #f6f6f6;
  float: left;
  width: 30.3333%;
  margin: 0 1% 1% 1%;
  padding: 0 8px;
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
}
.tag_list{
  overflow: hidden;
  padding: 15px 0 12px 15px;
  background-color: white;
}
.tag:hover {
  color: #fff;
  background-color: #45B6F7;
}
