md-tab-group{
  overflow: hidden;
  clear: both;
  margin-top: -2px;
  position: relative;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
.callboard_item{
  padding: 5px 10px 0px 10px;
  time{
    color: #bbb;
  }
}
