/* You can add global styles to this file, and also import other style files */

@import "assets/bootstrap/bootstrap.min.css";
@import "assets/css/demo.css";
@import "assets/css/iconfont.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.row-end{
  display: flex;
  justify-content: flex-end;
}
.row-between{
  display: flex;
  justify-content:space-between;
}
.row-horizontal-center{
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
.SF_a{
  //font-weight: ;
  color: #666;
  font-size: 12px;
}
.SF_a:hover {
  color: #45B6F7;
  text-decoration: none;
}
.SF_toobar{
    font-size: 18px;
    color: #616161;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    margin: 0;
  margin-top: 20px;
    padding: 11px 15px 10px;
}
