/* You can add global styles to this file, and also import other style files */

@import "assets/bootstrap/bootstrap.min.css";
@import "assets/css/demo.css";
@import "assets/css/iconfont.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.row-end{
  display: flex;
  justify-content: flex-end;
}
.row-horizontal-center{
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
